:root {
  --primaryColor: #efcb00;
  --secondaryColor: #60c5c5;
  --whiteColor: #fff;
  --transparentWhiteBackground: rgba(255, 255, 255, 0.5);
  --transparentBlackBackground: rgba(0, 0, 0, 0.5);
  --blackColor: #000000;
  --roundedCorners: 10px;
  --greenColor: #1cd122;
  --redColor: #d11c1c;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
a {
  color: var(--blackColor);
  text-decoration: none;
}
ul {
  list-style-type: none;
}
