.categoryMenuMainContainer {
  background-color: var(--primaryColor);
  width: 100%;
}
.categoryMenuMainContainer ul {
  width: 100%;
  max-width: 100rem;
  margin: 0 auto;
  padding: 1rem;
  display: flex;
  gap: 1rem;
}

/*//todo nie styluj po tagach, dawaj klasy - opowiem czemu - uwaga do calosci apki*/
.categoryMenuMainContainer ul li a {
  color: white;
}
