.categoryMenuMainContainer {
  background-color: var(--primaryColor);
  width: 100%;
}
.categoryMenuList {
  width: 100%;
  max-width: 100rem;
  margin: 0 auto;
  padding: 1rem;
  display: flex;
  gap: 1rem;
}
.categoryMenuListItem {
  color: white;
}
.categoryMenuLink:hover {
  color: var(--secondaryColor);
}
