.cardDetailsMainContainer {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}
.flexFullWidthContainer {
  display: flex;
  width: 100%;
  justify-content: space-between;
  min-width: 250px;
}
.freeDeliveryContainer {
  display: flex;
  justify-content: space-between;
  background-color: var(--grayColor);
  padding: 0.5rem 0.5rem;
}
.summaryHeader {
  border-bottom: 1px solid black;
}
